@charset "UTF-8";

#mycontainer	{ padding:20px; }
#myheader		{ display: flex; position: relative; top: 60px;}

/* #myfooter		{ display: flex; min-height:120px; position: relative; top:60px; background-color:#555555; margin-bottom: 70px;}
 */	
#myheader a {text-decoration:none;}

#myfooter		{ display: flex; min-height:120px; position: relative; top:60px; background-color:#555555; margin-bottom: 70px;}
	
